/*View in 1410width resolution*/
/* red border elements are gonna be with pure white background*/
* {
  scroll-behavior: smooth;
  cursor: default;
  position: relative;
  z-index: 0;
}

/* FONTS */
h1 {
  font-family: 'Raleway', sans-serif;
}

h2, h3 {
  font-family: 'Arapey', serif;
}

body {
  font-family: 'Lora', serif;
}



.responsive {
  width: 100%;
}

#logo {
  cursor: pointer;
}

.copyright{
    bottom: 0;
    text-align: center;
    width: 100%
}
a {
  color: black;
}

body {
  display: block;
}

.fa-bars, .fa-shopping-cart {
  cursor: pointer;
}

.slider {
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  background-color: #1d353f;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 29px;
  color: white;
}

.slider a {
  color: white;
  display: block;
  text-decoration: none;
  font-size: 25px;
  line-height: 10px;
  /* padding: 37px; */
  padding: 37px;
  text-align: left;
}

.slider a:hover {
  background-color: darkgray;
}

.slider_links {
  width: 100%;
}

.fa-angle-down {
  cursor: pointer;
  display: none;
}

.dropdown_content {
  display: none;
}

.dropdown_content a {
  font-size: 23px;
  padding-left: 50px;
}

.fa-times {
  color: white;
  cursor: pointer;
  top: 0;
  float: left;
  font-size: 20px;
  margin-left: 20px;
  display: block;
  padding-top: px;
  text-decoration: none;
  font-size: 25px;
  line-height: 0;
  text-align: left;
  /*    margin-left: 37px;*/
}

.slider a:hover {
  background-color: #1a2f38;
  cursor: pointer;
}

.slider_links {
  padding-top: 20px;
}

.fa-times {
  color: white;
  cursor: pointer;
  top: 0;
  float: left;
  font-size: 20px;
  margin-left: 20px;
}

/* IMAGE GALLERY */
#redchair:hover {
  opacity: 0.8;
  cursor: pointer;
}

#footswing:hover {
  opacity: 0.8;
  cursor: pointer;
}

#blanket:hover {
  opacity: 0.8;
  cursor: pointer;
}

#footswing:hover {
  opacity: 0.8;
}

#blanket:hover {
  opacity: 0.8;
}

.hidden {
  display: none;
}

.description_text_footswing, .description_text_blanket {
  display: none;
}

/* CHAIR FORM */
form {
  width: 100%;
}

#submit {
  color: white;
  background-color: #1d353f;
  border: none;
  font-size: 20px;
  border-radius: 2px;
  padding: 12px 45px;
  float: right;
}

label {
  display: block;
  float: left;
  clear: left;
  width: 120px;
  text-align: right;
  padding: 15px;
}

input {
  width: 50%;
  padding: 12px 18px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: left;
}

#comment {
  height: 20%;
}

label, input, {
  margin: 5px;
}

/* PLACEHOLDER ALIGN  */
::-webkit-input-placeholder {
  text-align: left;
}

input:-moz-placeholder {
  text-align: left;
}

.fa-times {
  color: white;
  cursor: pointer;
  top: 0;
  float: left;
  font-size: 20px;
  margin-left: 20px;
}

#welcome {
  width: 30%;
  animation: 1.75s ease-out line;
}

@keyframes line {
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}

/*.about_section{
    animation: 1.5s ease-out box;
}


@keyframes box{

      0% {
      transform: translateY(-80px);
          opacity: 0.5;
  }
  100% {
      transform: translateY(0px);
      opacity: 1;


  }
}*/
#read_more {
  animation: 1.5s ease-out appear;
  /* animation-delay: 2s;*/
  animation-fill-mode: both;
  width: 150px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.sentence, .comfort, .stimuli, .aesthetics {
  display: inline-block;
  animation: 1s ease-out appear;
  margin-top: -5px;
  word-spacing: 30px;
}

.stimuli {
  animation-delay: 0s;
  animation-fill-mode: both;
}

.comfort {
  animation-delay: 1s;
  animation-fill-mode: both;
}

.aesthetics {
  animation-delay: 2s;
  animation-fill-mode: both;
}

/*navigation here*/
header {
  width: 90%;
  height: 75px;
  /*border: 2px solid red;*/
  margin: 0% 5% 0% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

#read_more {
  padding: 12px 26px;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  color: #edb95f;
  background-color: transparent;
  border: 2.5px solid #edb95f;
  cursor: pointer;
}

#read_more:hover {
  color: white;
  /*  text-shadow: .1px .1px .1px black;*/
  background-color: #edb95f;
}

.logo {
  width: 22.5%;
  left: -3.75%;
}

.menu {
  left: 35%;
}

.cart {
  left: 0px;
}

/* content holder*/
main {
  width: 90%;
  /*border: 2px solid red;*/
  margin: 0px auto 0px auto;
  display: block;
}

/* banner picture here*/
.banner_section {
  width: 100%;
  height: 400px;
  margin: 0%;
  background-color: white;
  display: block;
  z-index: 1;
  overflow: hidden;
}

/* textbox on the top of the picture*/
.index_text {
  z-index: 1;
  left: -35%;
  top: 10%;
          text-align: center;

}

.welcome {
  z-index: 1;
  left: 35%;
  top: -40px;
    text-align: center;
}

.sentence {
  z-index: 1;
  left: 35%;
  top: -25px;
    text-align: center;
}

.webshop_banner img {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 220px;
  left: 0%;
  z-index: -1;
}

.webshop_text {
  z-index: 1;
}

.banner img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -320px;
  z-index: -1;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .banner img {
    top: -200px;
  }
    
    
    
    
}

@media only screen and (min-width: 1200px) and (max-width:1350px) {
  .banner img {
    top: -250px;
  }
}

/* description or articles here */
.about_section {
  width: 60%;
  height: 330px;
  margin: -2% 0% 0% 0%;
  padding: 1% 20% 1% 20%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.heading_about {
  padding-top: -300px;
  padding-bottom: -100px;
  width: 80%;
  font-size: 30px;
    text-align: center;
}

.about_text {
  margin-top: -10px;
  width: 80%;
  height: 70px;
}

.read_more_about {
  height: 50px;
  margin-bottom: 50px;
}

/* content boxes here*/
.product_section {
  width: 100%;
  height: 300px;
  margin: -1% 0% 0% 0%;
  background-color: #f2f2f2;
  display: block;
  z-index: 1;
    text-align: center;
}

.blue_chair_box:hover {
  cursor: pointer;
}

.foot_swing_box:hover {
  cursor: pointer;
}

.red_chair_box:hover {
  cursor: pointer;
}

.product_section img:hover {
  cursor: pointer;
  opacity: .5;
}

.blue_chair_box {
  width: 60%;
  height: 100%;
  margin: -2% 0% 0% 2.5%;
  background-color: white;
  float: left;
  overflow: hidden;
}

.blue_chair_box h3 {
  top: 25%;
  left: -30%;
}

.blue_chair_box img {
  width: 70%;
  height: 100%;
  margin-right: -200px;
  z-index: -1;
  opacity: 1;
}

.foot_swing_box {
  width: 32.5%;
  height: 100%;
  margin: -2% 0% 0% 2.5%;
  background-color: white;
  float: left;
  overflow: hidden;
}
}

.foot_swing_box h3 {
  top: 25%;
  left: -25%;
}

.foot_swing_box img {
  width: 100%;
  height: 70%;
  position: relative;
  bottom: 0%;
  left: 15%;
  z-index: -1;
  opacity: 1;
}

/*.red_chair_box {
  width: 33%;
  height: 52%;
  margin: .9% 2% -.1% .5%;
  background-color: white;
  float: right;
  overflow: hidden;
}

.red_chair_box h3 {
  top: 25%;
  right: -25%;
}

.red_chair_box img {
  width: 90%;
  height: 90% position: relative;
  bottom: 30%;
  right: 20%;
  z-index: -1;
  opacity: 1;
}*/
.newsfeed_section {
  width: 60%;
  height: 400px;
  margin: -1% 0% % 0%;
  padding: 1% 20% 1% 20%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.heading_news {
  width: 80%;
  height: 30%;
  font-size: 30px;
  margin-top: 5%;
}

.news_text {
  width: 80%;
  height: 50%;
}

.news_text2 {
  width: 60%;
  height: 20%;
  margin-bottom: 50px;
}

.subscribe {
  width: 80%;
  height: 10%;
  margin-bottom: 5px;
}

.sub_button {
  padding: 12px 26px;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  color: white;
  background-color: #edb95f;
  cursor: pointer;
}

.sub_button:hover {
  background-color: #bd944c;
}

.heading_sponsors {
  width: 80%;
  height: 30%;
  font-size: 30px;
  margin-top: 5%;
}

.sponsors {
  width: 80%;
  height: 150px;
  /*border: 2px solid red;*/
  margin: 0% 5% 0% 5%;
  display: flex;
  justify-content: space-between;
  padding: 0% 5% 5% 8%;
  align-items: center;
}

.sponsors img {
  width: 60%;
  padding-top: 50px;
}

footer {
  width: 80%;
  height: 250px;
  /*border: 2px solid red;*/
  margin: 0% 5% 0% 5%;
  display: flex;
  justify-content: space-between;
  padding: 0% 5% 0% 5%;
  align-items: center;
  background-color: #1d353f;
    color: white;
    flex-wrap: wrap;
}

.footer_info {
    width: 100%
}

.footer_heading {
  display: block;
  float: left;
    width: 100%;
  bottom: 0;
font-size: 20px;
}

.footer_list {
  display: block;
  float: left;
  list-style: none;
}

.footer_links{   
float: right;
    font-size: 40px;
    display: inline-block;
}

.footer_links a{
    color: white;
}

.fa-facebook:hover{
    cursor: pointer;
    color: #e5e5e5;
}
.fa-linkedin:hover{
    cursor: pointer;
    color: #e5e5e5;
}
.fa-instagram:hover{
    cursor: pointer;
    color: #e5e5e5;
}
.part1 {}

.part2 {}

.part3 {}

.part4 {}

.part5 {}

/* About us */
.about_us_section {
  width: 100%;
  height: 400px;
  margin: 0%;
  background-color: white;
  display: block;
  z-index: 1;
  overflow: hidden;
}

.about_us_text {
  z-index: 1;
  left: -35%;
  top: 10%;
}

.employees {
  width: 60%;
  height: 350px;
  margin: -2% 0% 0% 0%;
  padding: 1% 20% 1% 20%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.about_us_heading {
  padding-top: 30px;
  margin-left: -40px;
  width: 100%;
  font-size: 30px;
}

.about_us_box {
  margin-top: 50px;
  padding-top: -200px;
  margin-left: -30px;
  width: 80%;
  height: 250px;
  justify-content: space-around;
}

.member1, .member2, .member3 {
  display: inline-block;
  padding: 0% 2.5%;
}

.about_us_box img {
  height: 150px;
  width: 150px;
  border-radius: 90px;
}

.story_section {
  width: 60%;
  height: 300px;
  margin: -2% 0% 0% 0%;
  padding: 1% 20% 1% 20%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.our_story_heading {}

.our_story {}

/* CHAIR PRODUCT */
.chair_product_section {
  width: 100%;
  height: 100%;
  margin: 0%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  overflow: hidden;
}

.chair_gallery {
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  height: 600px;
}

.top_product {
  /*  border: 1px solid blue;*/
  display: flex;
  height: 350px;
  width: 92%;
  margin: auto;
}

.top_product img {
  transform: scale(1);
  width: 100%;
  height: 100%;
}

.chair_product_section img:hover {
  opacity: .9;
}

.bottom_left_product {
  /*  border: 1px solid blue;*/
  display: flex;
  height: 150px;
  width: 42%;
  margin: auto;
}

.bottom_left_product img {
  transform: scale(1);
  width: 100%;
  height: 100%;
}

.bottom_right_product {
  /*  border: 1px solid blue;*/
  display: flex;
  height: 150px;
  width: 42%;
  margin: auto;
}

.bottom_right_product img {
  transform: scale(1);
  width: 100%;
  height: 100%;
}

.product_description {
  /*  border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
    margin-left: 3%;
}

.description_text_chair, .description_text_footswing, .description_text_blanket {
  /*  border: 1px solid blue;*/
  display: flex;
  height: 250px;
  width: 92%;
  margin: auto;
  flex-wrap: wrap;
  text-align: left;
}

.reviews_section {
  /*  border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

.reviews {
  /*  border: 1px solid blue;*/
  display: flex;
  height: 400px;
  width: 92%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: .85em;
}



.rev0 {
  /*  border: 1px solid blue;*/
  display: block;
  height: 20%;
  width: 100%;
  float: left;
    margin-left: 3%;
}

.rev1 {
  /*border: 1px solid blue;*/
  display: block;
  height: 35%;
  width: 45%;
  float: left;
}

.rev2 {
  /*  border: 1px solid blue;*/
  display: block;
  height: 35%;
  width: 45%;
  float: right;
}

.rev3 {
  /*  border: 1px solid blue;*/
  display: block;
  height: 35%;
  width: 45%;
  float: left;
}

.rev4 {
  /*border: 1px solid blue;*/
  display: block;
  height: 35%;
  width: 45%;
  float: right;
}

.contact_section {
  /*border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

.contact_heading {
  display: block;
  width: 100%;
  height: 20%;
}

.contact_heading, .reviews_heading{
    margin-left: 5%;
}
.contact {
  display: flex;
  height: 300px;
  width: 100%;
  margin: auto;
}

/* PONCHO PRODUCT */
/* banner picture here*/
.poncho_product_section {
  width: 100%;
  height: 1200px;
  margin: 0%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  overflow: hidden;
}

.poncho_gallery {
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  height: 600px;
}

.big_product_image {
  border: 1px solid blue;
  display: flex;
  height: 350px;
  width: 92%;
  margin: auto;
}

.small_left_image {
  border: 1px solid blue;
  display: flex;
  height: 150px;
  width: 25%;
  margin: auto;
}

.small_middle_image {
  border: 1px solid blue;
  display: flex;
  height: 150px;
  width: 25%;
  margin: auto;
}

.small_right_image {
  border: 1px solid blue;
  display: flex;
  height: 150px;
  width: 25%;
  margin: auto;
}

.poncho_product_description {
  /*  border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 600px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.poncho_description {
  border: 1px solid blue;
  display: flex;
  height: 550px;
  width: 92%;
  margin: auto;
  flex-wrap: wrap;
}

.poncho_description h1 {
  width: 100%;
}

.poncho_list {
  width: 75%;
  list-style: none;
  margin-left: -50px;
}

.poncho_reviews_section {
  /*  border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

.poncho_reviews {
  border: 1px solid blue;
  display: flex;
  height: 400px;
  width: 92%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: .85em;
}

.pon_rev0 {
  border: 1px solid blue;
  display: block;
  height: 10%;
  width: 90%;
  float: left;
}

.pon_rev1 {
  border: 1px solid blue;
  display: block;
  height: 35%;
  width: 45%;
  float: left;
}

.pon_rev2 {
  border: 1px solid blue;
  display: block;
  height: 35%;
  width: 45%;
  float: right;
}

.pon_rev3 {
  border: 1px solid blue;
  display: block;
  height: 35%;
  width: 45%;
  float: left;
}

.pon_rev4 {
  border: 1px solid blue;
  display: block;
  height: 35%;
  width: 45%;
  float: right;
}

.read_more, .read_less {
  padding: 12px 26px;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  color: white;
  background-color: #edb95f;
  cursor: pointer;
  display: none;
}

.poncho_contact_section {
  /*border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

.poncho_contact {
  border: 1px solid blue;
  display: flex;
  height: 400px;
  width: 92%;
  margin: auto;
}


/* Tablet PONCHO PRODUCT*/
.poncho_product_section {
  width: 100%;
  height: 1000px;
  border: 2px solid
    /* #B5B5B5*/
    #B5B5B5;
  border-radius: 12px;
  margin: 0%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  overflow: hidden;
}

/* Tablet */
.poncho_gallery {
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  height: 600px;
}

/* Tablet */
.big_product_image {
  border: 1px solid blue;
  display: flex;
  height: 350px;
  width: 92%;
  margin: auto;
}

/* Tablet */
.small_left_image {
  border: 1px solid blue;
  display: flex;
  height: 150px;
  width: 42%;
  margin: auto;
}

/* Tablet */
.small_middle_image {
  border: 1px solid blue;
  display: flex;
  height: 150px;
  width: 42%;
  margin: auto;
}

/* Tablet */
.small_right_image {
  display: none;
}

/* Tablet */
.poncho_product_description {
  /*  border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 600px;
}

/* Tablet */
.poncho_description {
  border: 1px solid blue;
  display: flex;
  height: 550px;
  width: 92%;
  margin: auto;
}

/* Tablet */
.poncho_reviews_section {
  /*  border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

/* Tablet */
.poncho_reviews {
  border: 1px solid blue;
  display: flex;
  height: 300px;
  width: 92%;
  margin: auto;
}

/* Tablet */
.poncho_contact_section {
  /*border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

/* Tablet */
.poncho_contact {
  border: 1px solid blue;
  display: flex;
  height: 300px;
  width: 92%;
  margin: auto;
}

.poncho_contact_section {
  /*border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

.poncho_contact {
  border: 1px solid blue;
  display: flex;
  height: 300px;
  width: 92%;
  margin: auto;
}

.poncho_contact_section {
  /*border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

.poncho_contact {
  border: 1px solid blue;
  display: flex;
  height: 300px;
  width: 92%;
  margin: auto;
}

/*  Tablet ABOUT US*/
.about_us_section {
  width: 100%;
  height: 525px;
  margin: 0%;
  background-color: white;
  display: block;
  z-index: 1;
  overflow: hidden;
}

/* Tablet */
.employees {
  width: 60%;
  height: 350px;
  margin: -6% 0% 0% 0%;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-bottom: 12.5%;
}

/* Tablet */
.about_us_heading {
  padding: 5%;
  height: 50px;
  width: 100%;
  margin-top: -100px;
left: 43%;}

/* Tablet */
.about_us_box {
  margin-top: -250px;
  width: 150%;
  left: 40%;
  height: 100px;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Tablet */
.member1, .member2, .member3 {
  display: inline-block;
  padding: 0% 2.5%;
}

/* Tablet */
.about_us_box img {
  height: 150px;
  width: 150px;
  border-radius: 90px;
}

/* Tablet */
.our_story_heading {
  width: 20%;
  height: 50px;
  margin-top: 40px;
}

.our_story_heading {
  width: 20%;
  height: 50px;
  margin-top: 40px;
}

.our_story {}

/* Tablet Blue chair */
.our_story_heading {
  width: 20%;
  height: 50px;
  margin-top: 40px;
}

.our_story {
  margin-bottom: 100px;
}

/* Tablet Blue chair */
.chair_product_section {
  width: 100%;
  height: 100%;
  margin: 0%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  overflow: hidden;
}




/* Tablet */
.top_product {
  /*border: 1px solid blue;*/
  display: flex;
  height: auto;
  width: 92%;
  margin: auto;
}

/* Tablet */
.bottom_left_product {
  /*  border: 1px solid blue;*/
  display: flex;
  height: 150px;
  width: 42%;
  margin: auto;
}

/* Tablet */
.bottom_right_product {
  /*  border: 1px solid blue;*/
  display: flex;
  height: 150px;
  width: 42%;
  margin: auto;
}


/* Tablet */
.description_text_chair {
  /*  border: 1px solid blue;*/
  display: flex;
  height: 550px;
  width: 92%;
  margin: auto;
    text-align: left;
}

/* Tablet */
.reviews_section {
  /*  border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

/* Tablet */
.reviews {
  /*  border: 1px solid blue;*/
  display: flex;
  height: 300px;
  width: 92%;
  margin: auto;
}



/* Tablet */
.contact {
  /*  border: 1px solid blue;*/
  display: flex;
  height: 300px;
  width: 92%;
  margin: auto;
}

.reviews_section {
  /*  border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

.reviews {
  /*  border: 1px solid blue;*/
  display: flex;
  height: 300px;
  width: 92%;
  margin: auto;
}

.contact_section {
  /*border: 1px solid red;*/
     display: flex;
    width: 48%;
    height: 450px;
    color: black;
    bottom: 50px;
    flex-wrap: wrap;
}

.rev0, .contact_heading{
    font-size: 18px;
    margin-left: 4%;

}

.rev1, .rev2{
    text-align: left;
}

/* /* Tablet PONCHO */
.contact {
  /*  border: 1px solid blue;*/
 display: flex;
    height: 450px;
    width: 92%;
    margin: auto;
}

.contact input{
    width: 100%;
}

/* PONCHO */
.poncho_product_section {}

.reviews_section {
  /*  border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

.reviews {
  /*  border: 1px solid blue;*/
  display: flex;
  height: 300px;
  width: 92%;
  margin: auto;
}



/* PONCHO */
.poncho_product_section {
  width: 100%;
  height: 1000px;
  margin: 0%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  overflow: hidden;
}

/* Tablet */
.poncho_gallery {
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  height: 600px;
}

/* Tablet */
.big_product_image {
  border: 1px solid blue;
  display: flex;
  height: 350px;
  width: 92%;
  margin: auto;
}

/* Tablet */
.small_left_image {
  border: 1px solid blue;
  display: flex;
  height: 150px;
  width: 42%;
  margin: auto;
}

/* Tablet */
.small_middle_image {
  border: 1px solid blue;
  display: flex;
  height: 150px;
  width: 42%;
  margin: auto;
}

/* Tablet */
.small_right_image {
  display: none;
}

/* Tablet */
.poncho_product_description {
  /*  border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 600px;
}

/* Tablet */
.poncho_description {
  border: 1px solid blue;
  display: flex;
  height: 550px;
  width: 92%;
  margin: auto;
}

/* Tablet */
.poncho_reviews_section {
  /*  border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

/* Tablet */
.poncho_reviews {
  border: 1px solid blue;
  display: flex;
  height: 300px;
  width: 92%;
  margin: auto;
}

/* Tablet */
.poncho_contact_section {
  /*border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

/* Tablet */
.poncho_contact {
  border: 1px solid blue;
  display: flex;
  height: 300px;
  width: 92%;
  margin: auto;
}

.poncho_contact_section {
  /*border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 350px;
}

/* Tablet WEB SHOP */
.webshop_section {}

/* Tablet WEB SHOP */
.webshop_section {
  width: 100%;
  height: 525px;
  margin: 0%;
  background-color: white;
  display: block;
  z-index: 1;
  overflow: hidden;
}








/*WEB SHOP */
.webshop_section {
  width: 100%;
  height: 525px;
  margin: 0%;
  background-color: white;
  display: block;
  z-index: 1;
  overflow: hidden;
}

.about_section {
  height: 450px;
}

.read_more_about {}

.about_text {
  height: 150px;
  width: 80%;
}

.newsfeed_section {}

.heading_news {
  font-size: 30px;
  margin-top: 5%;
    text-align: center;
    padding-bottom: 10%;
}

.news_text {
  left: 5%;
  bottom: 15%;
  font-size: 18px;
  text-align: left;
}

.subscribe {
  bottom: 15%;
  line-height: 2;
  font-size: 20px;
  width: 150%;
}

.sub {
  bottom: 2.5%;
    text-align: center;
}

.sub input {
  width: 40%;
}

.heading_sponsors {
  width: 100%;
    text-align: center;
}

footer {
  height: 180px;
}
}

/* Responsive*/
/* Mobile resolution*/
@media only screen and (max-width: 300px) {
  body {
    display: block;
  }
.rev3, .rev4{
   display: none;
    
}
    
  /*Mobile navigation here*/
  header {
    width: 100%;
    height: 75px;
    /*border: 2px solid red;*/
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    overflow: hidden;
  }

  .logo {
    width: 200%;
    left: -40px;
  }

  .menu {
    left: -35px;
  }

  .cart {
    left: -10px;
  }

  /*Mobile content holder*/
  main {
    width: 100%;
    /*border: 2px solid red;*/
    margin: 0px auto 0px auto;
    display: block;
  }

  /*Mobile banner picture here*/
  .banner_section {
    width: 100%;
    height: 400px;
    margin: 0%;
    background-color: white;
    display: block;
    z-index: 1;
    overflow: hidden;
  }

  /*Mobile textbox on the top of the picture*/
  .index_text {
    z-index: 1;
    left: 0%;
    top: 2.5%;
      text-align: center;
  }

  .welcome {
    z-index: 1;
    left: 0%;
    top: 0%;
  }

  .sentence {
    z-index: 1;
    left: 0%;
    top: 15px;
  }

  .banner {}

  .banner img {
    width: 200%;
    position: relative;
    top: -110px;
    left: -17%;
    z-index: -1;
  }

  /*Mobile description or articles here */
  .about_section {
    width: 100%;
    height: 400px;
    margin: -6% 0% 0% 0%;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    padding: 0%;
    padding-bottom: 20%;
  }

  .heading_about {
    padding: 5%;
  }

  .about_text {
    padding: 5%;
  }

  .read_more_about {
    height: 50px;
    margin: 100px 0px -20px -20px;
  }

  /*Mobile content boxes here*/
  .product_section {
    width: 100%;
    height: 600px;
    /*border: 2px solid #B5B5B5;*/
    border: none;
    margin: -6% 0% 2% 0%;
    background-color: #f2f2f2;
    display: block;
    z-index: 1;
  }

  /*Mobile */
  /*Mobile */
  #product_sentence {
    cursor: pointer;
  }

  /*Mobile */
  #product_sentence {
    cursor: pointer;
  }

  #product_sentence {
    cursor: pointer;
  }

  .blue_chair_box {
    width: 90%;
    height: 47%;
    margin: 0% 0% 2.5% 5%;
    background-color: white;
    float: left;
    overflow: hidden;
  }

  .blue_chair_box h3 {
    top: 10%;
    left: 0%;
  }

  /*Mobile */
  .blue_chair_box img {
    width: 120%;
    height: 100%;
    position: relative;
    bottom: 0px;
    left: -40%;
    z-index: -1;
  }

  /*Mobile */
  .foot_swing_box {
    width: 90%;
    height: 47%;
    margin: 2.5% 0% -1% 5%;
    background-color: white;
    float: left;
    overflow: hidden;
  }

  /*Mobile */
  .foot_swing_box h3 {
    top: 10%;
    left: 0%;
  }

  .foot_swing_box img {
    width: 100%;
    top: 20%;
    left: 0%;
    z-index: -1;
  }

  .newsfeed_section {
    height: 700px;
  }

  .news_text {
    width: 140%;
  }

  #sub_email {
    width: 100%;
  }

  .sponsors {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sponsor1, .sponsor2, .sponsor3, .sponsor4 {
    width: 48%;
  }

  .newsfeed_section {
    height: 1000px;
  }

  /*Mobile */
  footer {
    width: 90%;
    height: 250px;
    /*border: 2px solid red;*/
    margin: 0% 5% 0% 0%;
    display: flex;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
    align-items: center;
  }

  .part1 {}

  .part2 {}

  .part3 {}

  .part4 {}

  .part5 {}

  /*Mobile PONCHO PRODUCT */
  .poncho_product_section {
    width: 100%;
    height: 2800px;
    border: 2px solid
      /* #B5B5B5*/
      #B5B5B5;
    border-radius: 12px;
    margin: 0%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    overflow: hidden;
  }

  /*Mobile */
  .read_more {
    display: block;
  }

  .poncho_gallery {
    /*border: 1px solid red;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
  }

  .big_product_image {
    border: 1px solid blue;
    display: flex;
    height: 350px;
    width: 92%;
    margin: auto;
  }

  .part5 {}

  /*Mobile PONCHO PRODUCT */
  .poncho_product_section {
    width: 100%;
    height: 2800px;
    border: 2px solid
      /* #B5B5B5*/
      #B5B5B5;
    border-radius: 12px;
    margin: 0%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    overflow: hidden;
  }

  /*Mobile */
  .small_left_image {
    border: 1px solid blue;
    display: flex;
    height: 150px;
    width: 40%;
    margin: auto;
  }

  .poncho_gallery {
    /*border: 1px solid red;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
  }

  /*Mobile */
  .small_middle_image {
    border: 1px solid blue;
    display: flex;
    height: 150px;
    width: 40%;
    margin: auto;
  }

  .small_right_image {
    display: none;
  }

  .poncho_product_description {
    /*  border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 600px;
    margin-bottom: 175px;
  }

  /*Mobile */
  .poncho_description {
    border: 1px solid blue;
    display: flex;
    height: 850px;
    width: 92%;
    margin: auto;
  }

  .poncho_reviews_section {
    /*  border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 500px;
  }

  .poncho_reviews {
    border: 1px solid blue;
    display: flex;
    height: 620px;
    width: 92%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  /*Mobile */
  .pon_rev1 {
    border: 1px solid blue;
    display: block;
    height: 20%;
    width: 90%;
    float: left;
  }

  .pon_rev2 {
    border: 1px solid blue;
    display: block;
    height: 20%;
    width: 90%;
    float: right;
  }

  /*Mobile */
  .pon_rev3 {
    border: 1px solid blue;
    display: block;
    height: 20%;
    width: 90%;
    float: left;
  }

  /*Mobile */
  .pon_rev4 {
    border: 1px solid blue;
    display: block;
    height: 20%;
    width: 90%;
    float: right;
  }

  .poncho_contact_section {
    /*border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 350px;
  }

  /*Mobile */
  .poncho_contact {
    border: 1px solid blue;
    display: flex;
    height: 300px;
    width: 92%;
    margin: auto;
  }

  /*Mobile  ABOUT US */
  .about_us_section {
    width: 100%;
    height: 400px;
    margin: 0%;
    background-color: white;
    display: block;
    z-index: 1;
    overflow: hidden;
  }

  .employees {
    width: 100%;
    height: 700px;
    margin: -6% 0% 0% 0%;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 0%;
    padding-bottom: 20%;
  }

  /*Mobile */
  .about_us_heading {
    padding: 5%;
  }

  .poncho_contact_section {
    /*border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 350px;
  }

  /*Mobile */
  .poncho_contact {
    border: 1px solid blue;
    display: flex;
    height: 300px;
    width: 92%;
    margin: auto;
  }

  /*Mobile  ABOUT US */
  .about_us_section {
    width: 100%;
    height: 400px;
    margin: 0%;
    background-color: white;
    display: block;
    z-index: 1;
    overflow: hidden;
  }

  .employees {
    width: 100%;
    height: 700px;
    margin: -6% 0% 0% 0%;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 0%;
    padding-bottom: 20%;
  }

  /*Mobile */
  .about_us_heading {
    padding: 5%;
  }

  .about_us_box {
    height: 550px;
    padding: 5%;
    margin-top: -50px;
  }

  /*Mobile */
  .story_section {
    height: 500px;
    width: 80%;
    padding: 10%;
    margin-top: -30px;
  }

  .our_story_heading {
    width: 20%;
    height: 50px;
    margin-top: 10px;
  }

  .our_story {}

  /*Mobile CHAIR */
  .chair_product_section {
    width: 100%;
    height: 2800px;
    border: 2px solid
      /* #B5B5B5*/
      #B5B5B5;
    border-radius: 12px;
    margin: 0%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    overflow: hidden;
  }

  .our_story {}

  /*Mobile CHAIR */
  .chair_product_section {
    width: 100%;
    height: 2800px;
    border: 2px solid
      /* #B5B5B5*/
      #B5B5B5;
    border-radius: 12px;
    margin: 0%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    overflow: hidden;
  }

  .chair_gallery {
    /*border: 1px solid red;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
  }

  /*Mobile */
  .top_product {
    /*  border: 1px solid blue;*/
    display: flex;
    height: 350px;
    width: 92%;
    margin: auto;
  }

  .bottom_left_product {
    /*  border: 1px solid blue;*/
    display: flex;
    height: 150px;
    width: 40%;
    margin: auto;
  }

  /*Mobile */
  .bottom_right_product {
    /*  border: 1px solid blue;*/
    display: flex;
    height: 150px;
    width: 40%;
    margin: auto;
  }

  .product_description {
    /*  border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 600px;
    margin-bottom: 175px;
  }

  /*Mobile  PONCHO */
  .poncho_product_section {
    width: 100%;
    height: 2800px;
    border: 2px solid
      /* #B5B5B5*/
      #B5B5B5;
    border-radius: 12px;
    margin: 0%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    overflow: hidden;
  }

  /*Mobile */
  .description_text_chair {
    /*border: 1px solid blue;*/
    display: flex;
    height: 850px;
    width: 92%;
    margin: auto;
  }

  .reviews_section {
    /*  border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 500px;
  }

  /*Mobile */
  .reviews {
    /*  border: 1px solid blue;*/
    display: flex;
    height: 620px;
    width: 92%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .rev1 {
    /*  border: 1px solid blue;*/
    display: block;
    height: 20%;
    width: 90%;
    float: left;
  }

  /*Mobile */
  .rev2 {
    /*  border: 1px solid blue;*/
    display: block;
    height: 20%;
    width: 90%;
    float: right;
  }

  .rev3 {
    /*    border: 1px solid blue;*/
    display: block;
    height: 20%;
    width: 90%;
    float: left;
  }

  /*Mobile */
  .rev4 {
    /*  border: 1px solid blue;*/
    display: block;
    height: 20%;
    width: 90%;
    float: right;
  }

  .contact_section {
    /*border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 350px;
  }

  /*Mobile  PONCHO */
  .poncho_product_section {
    width: 100%;
    height: 2800px;
    border: 2px solid
      /* #B5B5B5*/
      #B5B5B5;
    border-radius: 12px;
    margin: 0%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    overflow: hidden;
  }

  .poncho_gallery {
    /*border: 1px solid red;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
  }

  .poncho_contact_section {
    /*border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 350px;
  }

  /*Mobile */
  .poncho_contact {
    border: 1px solid blue;
    display: flex;
    height: 300px;
    width: 92%;
    margin: auto;
  }

  /* Mobile WEBSHOP */
  .big_product_image {
    border: 1px solid blue;
    display: flex;
    height: 350px;
    width: 92%;
    margin: auto;
  }

  /*Mobile */
  .small_left_image {
    border: 1px solid blue;
    display: flex;
    height: 150px;
    width: 40%;
    margin: auto;
  }

  .small_middle_image {
    border: 1px solid blue;
    display: flex;
    height: 150px;
    width: 40%;
    margin: auto;
  }

  /*Mobile */
  .small_right_image {
    display: none;
  }

  .poncho_product_description {
    /*  border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 600px;
    margin-bottom: 175px;
  }

  /*Mobile */
  .poncho_description {
    border: 1px solid blue;
    display: flex;
    height: 850px;
    width: 92%;
    margin: auto;
  }

  .poncho_reviews_section {
    /*  border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 500px;
  }

  /*Mobile */
  .poncho_reviews {
    border: 1px solid blue;
    display: flex;
    height: 620px;
    width: 92%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .pon_rev1 {
    border: 1px solid blue;
    display: block;
    height: 20%;
    width: 90%;
    float: left;
  }

  /*Mobile */
  .pon_rev2 {
    border: 1px solid blue;
    display: block;
    height: 20%;
    width: 90%;
    float: right;
  }

  .pon_rev3 {
    border: 1px solid blue;
    display: block;
    height: 20%;
    width: 90%;
    float: left;
  }

  /*Mobile */
  .pon_rev4 {
    border: 1px solid blue;
    display: block;
    height: 20%;
    width: 90%;
    float: right;
  }

  .poncho_contact_section {
    /*border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 350px;
  }

  /*Mobile */
  .poncho_contact {
    border: 1px solid blue;
    display: flex;
    height: 300px;
    width: 92%;
    margin: auto;
  }

  /* Mobile WEBSHOP */
  /* WEBSHOP */
}

@media only screen and (min-width: 300px) and (max-width:600px) {
  .banner_section {
    height: 350px;
  }
    footer{
        height: 200px;
    }
    .footer_links{
        width: 100%;
        text-align: center;
    }
    
    .footer_list{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .reviews{
        width: 100%;
    }
    .rev3, .rev4{
        display: none;
    }
    .contact_section {
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 350px;
    align-content: center;
        padding-top: 25%;
}

    .reviews_section{
        display: flex;
    width: 100%;
    height: 350px;
    }
.chair_gallery{
    width: 100%;
    display: flex;
    }
    
.chair_gallery img{
    transform: scale(0.8);
    width: 100%;
}

.product_description {
    display: flex;
    width: 100%;
    height: 200px;
    padding-top: 100px;
    padding-bottom: 10%;
    margin-left: 0;
    }

  .banner img {
    transform: scale(2.1);
    top: 50px;
  }

  .banner img {
    top: -50px;
  }

  .about_section {
    height: 550px;
  }

  .foot_swing_box h3 {
    top: 15%;
    left: -30%;
  }

    .menu{
        left: 25%;
        
    }
  .read_more_about {
    margin-top: 10%;
  }
    .reviews_section{
        padding-bottom: 10%;
    }
  .product_section {
    width: 100%;
    height: 550px;
    /*border: 2px solid #B5B5B5;*/
    border: none;
    margin: -6% 0% 2% 0%;
    background-color: #f2f2f2;
    display: block;
    z-index: 1;
  }

  .blue_chair_box {
    width: 95%;
    height: 47%;
    margin: -.5% 0% 0% 2.5%;
    background-color: white;
    float: left;
    overflow: hidden;
  }

  .blue_chair_box h3 {
    top: 15%;
    left: -30%;
  }

  .blue_chair_box img {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 35px;
    left: -17%;
    z-index: -1;
  }

  .foot_swing_box {
    width: 95%;
    height: 47%;
    margin: 2.5% 0% 0% 2.5%;
    background-color: white;
    float: left;
    overflow: hidden;
  }

  .foot_swing_box h3 {
    top: 15%;
    left: -25%;
  }

  .foot_swing_box img {
    width: 100%;
    height: 110%;
    position: relative;
    bottom: 20%;
    left: 25%;
    z-index: -1;
  }
    
    
}

.subscribe {
  bottom: 15%;
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .banner img {
    top: -50px;
  }
    
    .menu{
        left: 30%;
        
    }

    .contact_section {
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 350px;
    align-content: center;
        padding-top: 20%;
}

    .reviews_section{
        display: flex;
    width: 100%;
    height: 350px;
    }
    
    
  .foot_swing_box h3 {
    top: 15%;
    left: -30%;
  }

  .read_more_about {
    margin-top: 10%;
  }

  .product_section {
    width: 100%;
    height: 700px;
    /*border: 2px solid #B5B5B5;*/
    border: none;
    margin: -6% 0% 2% 0%;
    background-color: #f2f2f2;
    display: block;
    z-index: 1;
  }

  .blue_chair_box {
    width: 95%;
    height: 47%;
    margin: -.5% 0% 0% 2.5%;
    background-color: white;
    float: left;
    overflow: hidden;
  }

  .blue_chair_box h3 {
    top: 15%;
    left: -30%;
  }

  .blue_chair_box img {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 35px;
    left: -17%;
    z-index: -1;
  }

  .foot_swing_box {
    width: 95%;
    height: 47%;
    margin: 2.5% 0% 0% 2.5%;
    background-color: white;
    float: left;
    overflow: hidden;
  }

  .foot_swing_box h3 {
    top: 15%;
    left: -30%;
  }

  .foot_swing_box img {
    width: 100%;
    height: 110%;
    position: relative;
    bottom: 20%;
    left: 25%;
    z-index: -1;
  }
    
    
            /* TABLET CHAIR PRODUCT */

.chair_gallery{
    width: 100%;
    display: flex;
    }
    
.chair_gallery img{
    transform: scale(0.8);
    width: 80%;
    padding-right: 100%;
}

.product_description {
    display: flex;
    width: 100%;
    height: 200px;
    padding-top: 100px;
    }
}

/*Tablet Version */
@media only screen and (min-width: 800px) and (max-width:1000px) {

  /*Tablet navigation here*/
  header {
    width: 100%;
    height: 75px;
    /*border: 2px solid red;*/
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    overflow: hidden;
  }
.reviews_section {
  /*  border: 1px solid red;*/
  display: flex;
  width: 100%;
  height: 300px;
}

  .logo {
    width: 40%;
    left: -50px;
  }

  .menu {
    left: 200px;
  }

  .cart {
    left: -10px;
  }

    
        /* TABLET CHAIR PRODUCT */

.chair_gallery{
    width: 100%;
    display: flex;
    padding-bottom: 10%;
    }
    
.chair_gallery img{
    transform: scale(0.8);
    width: 80%;
    padding-right: 100%;
}

.product_description {
    display: flex;
    width: 100%;
    height: 200px;
    }

.contact_section {
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  height: 350px;
    align-content: center;
    padding-top: 20%;
}

    
  /*Tablet content holder*/
  main {
    width: 100%;
    /*border: 2px solid red;*/
    margin: 0px auto 0px auto;
    display: block;
  }

  /*Tablet banner picture here*/
  .banner_section {
    width: 100%;
    height: 525px;
    margin: 0%;
    background-color: white;
    display: block;
    z-index: 1;
    overflow: hidden;
  }

  /*Tablet textbox on the top of the picture*/
  .index_text {
    z-index: 1;
    left: 0%;
    top: 2.5%;
            text-align: center;

  }

  .welcome {
    z-index: 1;
    left: 0%;
    top: 0%;
  }

  .sentence {
    z-index: 1;
    left: 0%;
    top: 15px;
  }

  .banner {}

  .banner img {
    width: 100%;
    position: relative;
    top: -150px;
    left: 0%;
    z-index: -1;
  }

  /*Tablet description or articles here */
  .about_section {
    width: 60%;
    height: 300px;
    margin: -6% 0% 0% 0%;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-bottom: 12.5%;
  }

  .heading_about {
    padding: 5%;
  }

  .about_text {
    padding-bottom: -300px;
  }

  .read_more_about {
    width: 20%;
    height: 50px;
    margin-top: 40px;
    margin-left: -30px;
    margin-bottom: 20px;
  }

  /* News Tablet */
  .news_text {}

  /*Tablet content boxes here*/
  .product_section {
    width: 100%;
    height: 700px;
    /*border: 2px solid #B5B5B5;*/
    border: none;
    margin: -6% 0% 2% 0%;
    background-color: #f2f2f2;
    display: block;
    z-index: 1;
  }

  .blue_chair_box {
    width: 95%;
    height: 47%;
    margin: -.5% 0% 0% 2.5%;
    background-color: white;
    float: left;
    overflow: hidden;
  }

  .blue_chair_box h3 {
    top: 15%;
    left: -30%;
  }

  .blue_chair_box img {
    width: 60%;
    height: 100%;
    position: relative;
    bottom: 35px;
    left: 20%;
    z-index: -1;
  }

  .foot_swing_box {
    width: 95%;
    height: 47%;
    margin: 2.5% 0% 0% 2.5%;
    background-color: white;
    float: left;
    overflow: hidden;
  }

  .foot_swing_box h3 {
    top: 15%;
    left: -30%;
  }

  .foot_swing_box img {
    width: 60%;
    height: 100%;
    position: relative;
    bottom: -35px;
    left: 20%;
    z-index: -1;
  }

  .red_chair_box {
    width: 46%;
    height: 40%;
    margin: 4% 0% 0% 2%;
    background-color: white;
    float: right;
    overflow: hidden;
  }

  .red_chair_box h3 {
    top: 25%;
    right: -30%;
  }

  .red_chair_box img {
    width: 125%;
    position: relative;
    bottom: 125px;
    right: 35%;
    z-index: -1;
  }

  .subscribe {}

  footer {
    width: 90%;
    height: 150px;
    /*border: 2px solid red;*/
    margin: 5% 0% 0% 0%;
    display: flex;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
    align-items: center;
  }

    
    

    
    
  .part1 {}

  /* Tablet PONCHO PRODUCT*/
  .part2 {}

  .part3 {}

  .part4 {}

  .part5 {}
}



/*One size smaller as the original*/
@media only screen and (min-width: 1000px) and (max-width:1409px) {
  #read_more {
    padding-right: 250px;
  }
    .rev3, .rev4{
        display: none;
    }
        

  .subscribe {
    margin-left: 300px;
      text-align: center;
  }
    .contact_heading{
        width: 100%;
        margin-left: 4%;
        
        /*    display: flex;
    width: 48%;
    height: 450px;
    color: black;
    bottom: 50px;
    flex-wrap: wrap;*/
    }
    .contact_section {
  /*border: 1px solid red;*/
  display: flex;
  width: 48%;
  height: 450px;
  color: black;
    bottom: 50px;
        flex-wrap: wrap;
}
}

/*One size larger as the original*/
@media only screen and (min-width:1600px) {
  .banner img {
    width: 78%;
    position: relative;
    bottom: 225px;
    left: 0%;
    z-index: -1;
  }

  .blue_chair_box img {
    width: 80%;
    height: 100%;
    left: 10%;
    z-index: -1;
    opacity: 1;
  }

  .heading_news {
    font-size: 35px;
    right: 65%;
  }

  .news_text {
    width: 40%;
    right: 50%;
    font-size: 22px;
    text-align: left;
  }

  .subscribe {
    left: 50%;
    bottom: 50%;
    line-height: 2;
    font-size: 35px;
  }

  .sub {
    left: 45%;
    bottom: 30%;
  }

  .sub input {
    width: 22%;
  }

  .heading_sponsors {
    width: 100%;
  }
}

@media only screen and (min-width:1800px) {
  .banner img {
    width: 65%;
    position: relative;
    bottom: 225px;
    left: 0%;
    z-index: -1;
  }

  .blue_chair_box img {
    width: 80%;
    height: 100%;
    left: 10%;
    z-index: -1;
    opacity: 1;
  }

  .heading_news {
    font-size: 35px;
    right: 66%;
  }

  .news_text {
    width: 40%;
    right: 50%;
    font-size: 22px;
    text-align: left
  }

  .subscribe {
    left: 50%;
    bottom: 50%;
    line-height: 2;
    font-size: 35px;
  }

  .sub {
    left: 45%;
    bottom: 30%;
  }

  .sub input {
    width: 22%;
  }

  .heading_sponsors {
    width: 100%;
  }
}
